{% extends "layout.html" %}

{% block content %}
  <a href="/trade" class="btn btn-warning" role="button">Trade</a>
 <title>Tradable Products </title>
 <br>
   <b>Please select a USD currency based trade from the dropdown list below: 
 <br><br>
 <form action="/submitTrade" method="POST">
    <select name="side">
      <option value="Buy">Buy</option>
      <option value="Sell">Sell</option>
    </select>
    symbol <select name = "ticker"> 
	{% for d in  symbollist  %}
		<option value={{d}}>{{d}}</option>
	{% endfor %}
    </select>
    quantity <input type="number" name="quantity">
    <input type="submit" class="btn btn-info" value="Execute">
  </form>
{% endblock %}
